@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Source Serif Pro";
  src: local("Source Serif Pro"), url("/fonts/SourceSerifPro-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Cascadia";
  src: local("Cascadia"), url("/fonts/CascadiaMono.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --font-family: "Source Serif Pro";
  --font-family-variant: "Source Serif Pro";
  --font-family-code: "Cascadia";
}

$gfm-body-font-family: var(--font-family), "Ubuntu", "Ubuntu Mono", sans-serif !default;
$gfm-code-font-family: var(--font-family-code);
$gfm-input-font-family: var(--font-family-code), Helvetica, Arial, freesans,
  clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" !default;
$gfm-header-border: "false" !default;

@import "./gfm/gfm.scss";

html:not(.dark),
*.force-light {
  // @include github();

  --surface-1: #f1f1f1;
  --surface-2: #f5f5f5;
  --surface-3: #efefef;
  --surface-4: #ececec;

  --text-primary: #222;
  --text-secondary: #3d3d3d;
  // --text-body: #8d8d8d; // darker text body for monospaced or serif fonts
  --text-body: #222;
  --text-link: #3d3d3d;
  --text-link-background: #3d3d3d;
  // --text-link-border: blue;
  --text-link-yellow: #3d3d3d;
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html,
body {
  background: var(--surface-2);
}

ul,
li {
  list-style: square;
}

body {
  color: var(--text-body);
}

// html:not(.dark),
// *.force-light {
//   // @include github();

//   --surface-1: #fff;
//   --surface-2: #f6f8fa;
//   --surface-3: #e6ebf1;
//   --surface-4: #d6dee8;
//   --text-primary: #353535;
//   --text-secondary: #888888;
//   --text-body: #444444;
//   --text-link: #267dff;
//   --text-link-background: #e7f0fb;
//   --text-link-border: #b4d3f8;
//   --text-link-yellow: #857100;
// }

// html.dark,
// *.force-dark {
//   // @include githubdark();

//   --surface-1: #121216;
//   --surface-2: #0d1117;
//   --surface-3: #161b22;
//   --surface-4: #202731;
//   --text-primary: #c9d1d3;
//   --text-secondary: #818992;
//   --text-body: #a0a7af;
//   --text-link: #64a7ff;
//   --text-link-background: #0d1a2c;
//   --text-link-border: #17273f;
//   --text-link-yellow: #fff5b9;
// }

body {
  background: var(--surface-1);
}

*::selection {
  background: #3280e8;
  color: white;
}

a,
.as-link {
  &:not(.gatsby-resp-image-link) {
    &:not(.remove-link-effect),
    &:not(.remove-link-effect) * {
      // color: var(--text-body);
      border-bottom: 1px solid var(--text-body);
      transition: all 50ms ease-in-out;
      &:hover {
        background: var(--text-body);
        text-decoration: none;
        color: var(--surface-1);
      }
    }
  }
}
