.markdown-body {
  line-height: 150%;
  color: var(--text-body);

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--text-primary);
    font-family: var(--font-family-variant);
  }

  pre {
    padding: 0;
    background-color: transparent;
    font-size: 0.9rem;
    border-radius: 0;
  }

  code {
    counter-reset: step;
    counter-increment: step 0;
  }

  code .line::before {
    content: counter(step);
    counter-increment: step;
    width: 1rem;
    margin-right: 1.2rem;
    display: inline-block;
    text-align: right;
    color: rgba(255, 255, 255, 0.2);
  }

  .gatsby-highlight {
    border: 1px solid var(--surface-3);
  }

  code {
    padding: 0.15rem 0;
    line-height: 1;
    border-radius: 3px;
    // border: 2px dashed var(--text-link-border);
    white-space: nowrap;
  }

  .gatsby-highlight pre {
    border-radius: 6px;

    * {
      font-family: var(--font-family-code);
    }
    padding: 1rem;
  }

  @media (max-width: 599px) {
    pre {
      background: transparent;
      border: 0px solid transparent;
    }

    .gatsby-highlight pre {
      code {
        border: 0px solid transparent !important;
      }
    }
  }
}

.md-body-full {
  font-size: 1.15rem;

  li {
    margin-bottom: 1rem;
  }

  input {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .gatsby-resp-iframe-wrapper {
    width: 100%;
    max-width: 100%;
    border: 1px solid var(--surface-4);
    margin-bottom: 1.5rem;
  }

  table {
    tr,
    td,
    th {
      border: 1px solid var(--surface-4);
      background: transparent;
    }
    tr {
      &:nth-child(even) {
        background: var(--surface-3);
      }
      &:not(:nth-child(even)) {
        background: var(--surface-2);
      }
    }
  }

  blockquote {
    border-radius: 6px;
    border: 1px solid var(--surface-3);

    background: var(--surface-1);

    padding: 1rem;

    color: var(--text-secondary);

    font-size: 1em;

    font-family: var(--font-family-variant);
    * {
      // for blockquotes with multiple paragraphs
      font-family: var(--font-family-variant);
    }
  }

  img {
    align-self: center;
  }

  hr {
    background: var(--text-secondary);
    height: 2px;
  }

  kbd {
    background-color: var(--surface-3);
    background-image: linear-gradient(var(--surface-4), var(--surface-3));
    background-repeat: repeat-x;
    display: inline-block;
    padding: 5px 5px 1px;
    margin: 0 1px;
    font-size: 11px;
    line-height: 10px;
    color: var(--text-primary);
    border: 1px solid var(--surface-2);
    border-radius: 4px;
    box-shadow: 0 1px 0 var(--surface-1);
  }

  * {
    max-width: 100%;
    box-shadow: none !important;
  }
}

.md-body-title {
  * {
    white-space: normal !important;
  }
  h1 {
    font-size: 1.5em !important;
    line-height: 1.25 !important;
    font-family: var(--font-family-variant);
  }
}

.md-body-post-title {
  * {
    font-family: var(--font-family-variant) !important;
    line-height: 3.4rem !important;
    font-size: 2rem !important;
  }
}
// CODE SNIPPET LINE NUMBERS

.gatsby-highlight pre[class*="language-"].line-numbers {
  padding-left: 2.8em;
}

/**
 * If you only want to use line numbering
 */

.gatsby-highlight {
  background-color: #fdf6e3;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 0.4rem 1rem;
  overflow: auto;
}

.gatsby-highlight pre[class*="language-"].line-numbers {
  padding: 0;
  padding-left: 2rem;
  overflow: initial;
}
